<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <!-- Uncomment below if you prefer to use a text logo -->
      <h1><a routerLink="/homepage"><span>C</span>asper <span></span></a></h1>
      <a routerLink="/homepage" class="scrollto"><img class="rotate-scale-up" src="../../../assets/img/casperLogo.png"
          alt="" title=""></a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="buy-tickets"><a href="#buy-tickets">تسجيل الدخول</a></li>
        <li><a href="#hotels">البث المباشر</a></li>
        <li><a href="#schedule">كوميدي</a></li>
        <li><a href="#speakers">تاريخ</a></li>
        <li><a routerLink="/Casper/Video">الأفلام</a></li>
        <li><a routerLink="/Casper/Series">مسلسلات</a></li>
        <li class="menu-active"><a routerLink="/homepage">الرئيسية</a></li>




        <!--
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#supporters">Sponsors</a></li>
        <li><a href="#contact">Contact</a></li>-->

      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->

<router-outlet></router-outlet>
