<!--<a [routerLink]="list.id" (click)="fillData(list)"> {{list.title}} </a>-->


<div class="netflix">
  <div class="wrapper">


    <section class="main-container">
      <div class="location" id="home">
        <h1 id="home">الأفلام الأجنبية</h1>
        <div class="box">

          <a *ngFor="let list of listMovies" [ngClass]="{'ok': list.category!='أفلام'}">



            <div class="over">
              <a [routerLink]="['/Casper/Video', list.id]"> <i class="fa fa-play-circle"></i></a>
              <p class="title"> {{list.title}} </p>
            </div>
            <!-- <div class="over2">
                      <span> {{list.title}} </span> <br>
                      <span style="top: 50%;">{{list.category}} </span>
                    </div>-->
            <img [src]="list.imgurl" alt="">


          </a>

        </div>
      </div>


      <h1 id="myList">الأفلام العربية</h1>
      <div class="box">
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t1.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t2.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t3.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t4.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t5.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t6.PNG?raw=true" alt=""></a>
      </div>

      <h1 id="movies">أفلام الأكشن والمغامرة</h1>
      <div class="box">
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m1.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m2.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m3.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m4.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m5.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/m6.PNG?raw=true" alt=""></a>
      </div>

      <h1 id="originals">قد تشاهد ايضأ</h1>
      <div class="box">
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o1.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o2.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o3.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o4.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o5.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o6.PNG?raw=true" alt=""></a>
      </div>

      <!-- END OF MAIN CONTAINER -->

      <!-- LINKS -->

      <!-- END OF LINKS -->

      <!-- FOOTER -->


    </section>
  </div>
</div>
